body {
  font-family: noto sans, sans-serif;
  color: #222222;
}

table {
  border: 1px solid DimGrey;
}

table th,
table td {
  border: 1px solid DimGrey;
  padding: 2px 5px;
}

table th {
  background-color: Gainsboro;
}

tr:nth-child(even) {
  background: WhiteSmoke;
}
